{% extends 'navbar.html' %}
{% block body %}
<div id="logg">
   <form action="{% url 'script' %}" class="log" method="POST">
        {% csrf_token %}
      <h2>What Can JavaScript Do?</h2>

<p>JavaScript can change HTML attribute values.</p>

<p>In this case JavaScript changes the value of the src (source) attribute of an image.</p>

<button onclick="document.getElementById('myImage').src='pic_bulbon.gif'">Turn on the light</button>

<img id="myImage" src="pic_bulboff.gif" style="width:100px">

<button onclick="document.getElementById('myImage').src='pic_bulboff.gif'">Turn off the light</button>
    </form>
</div> 
    <div>
        {% for message in messages %}
        <h3>{{message}} </h3>
        {% endfor %}
    </div>
    <style>
        #logg {
            border: 3px solid black;
            margin-left: 25%;
            margin-right: 25%;
            margin-top: 10%;
        }

        .log{
            background-color:  rgb(16, 42, 70);;
            padding: 10%;
            color: white;
        }
    </style>

{% endblock body %}
</html>